/* BANNER INDEX */

.banner{
    background-image:url("../imagenes/family_iot.jpg");
    padding-top:50px;
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
    .banner__cont{
        margin:0;
        padding:0;
        width: 100%;
        height:100%;
        color:#f2f2f2;
        background-color:rgba(0, 22, 40, 0.425);
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-family: 'Lato', sans-serif;

        .banner__tarjeta{
            
            border-radius: 1rem;
            padding: 2rem;
            background: rgba(255, 255, 255, 0.3);
            box-shadow:0 8px 32px 0 rgba(124, 125, 131, 0.37);
            border-top:2px solid rgba(255, 255, 255, 0.15);
            border-left:2px solid rgba(255, 255, 255, 0.15);
        
    

            .banner__titulo{
                margin:0;
                padding:0;
                padding-bottom: 1rem;
                font-size:5rem;
                text-align:center;

            }

            .banner__subTitulo{
                margin:0;
                padding:0;
                padding-bottom: 3rem;
                font-size:2rem;
                text-align:center;

            }

        }

    }   
}

  /* ----- BANNER RESTO DE PAGINAS ----- */

 .bannerResto{
    background-image:url("../imagenes/family_iot.jpg");
    padding-top:50px;
    width: 100%;
    height:60vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
    .bannerResto__cont{
        margin:0;
        padding:0;
        width: 100%;
        height:100%;
        color:#f2f2f2;
        background-color:rgba(0, 22, 40, 0.425);
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-family: 'Lato', sans-serif;

        .bannerResto__tarjeta{
            
            // border-radius: 1rem;
            // padding: 2rem;
            // background: rgba(255, 255, 255, 0.3);
            // box-shadow:0 8px 32px 0 rgba(124, 125, 131, 0.37);
            // border-top:2px solid rgba(255, 255, 255, 0.15);
            // border-left:2px solid rgba(255, 255, 255, 0.15);
        
    

            .bannerResto__titulo{
                margin:0;
                padding:0;
                padding-bottom: 1rem;
                font-size:5rem;
                text-align:center;

            }

        }

    }   
}




/* ----- BANNER Media Query ----- */

 @media (max-width:768px)
{

.banner{
    background-image:url("/imagenes/Comcast_Event-Feature-1600.jpg");
    padding-top:50px;
    width: 100%;
    height:50vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
}



}

@media (max-width:550px)
{

.banner{
    background-image:url("/imagenes/family_iot.jpg");
    padding-top:50px;
    width: 100%;
    height:25vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
}

.bannerCont h1{
    margin:0;
    padding:0;
    padding-bottom: 1rem;
    font-size:2rem;
    text-align:center;

}

.bannerCont p{
 display:none

}

.tarjetaBanner{
    border-radius: none;
    padding: 2rem;
    background:none;
    box-shadow:none;
    border-top:none;
    border-left:none;
}




}




/* ----- PAGINA CONTACTO ----- */



.bannerContacto{

    background-image: url("../imagenes/contact-us-4193523_1920.jpg");
    padding-top:50px;
    width: 100%;
    height:90.4vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;


    .bannerContacto__cont{
        margin:0;
        padding:0;
        width: 100%;
        height:100%;
        color:#f2f2f2;
        background-color:rgba(127, 130, 133, 0.5);
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-family: 'Lato', sans-serif;
    

        .bannerContacto__cont h1{
            margin:0;
            padding:0;
            padding-bottom: 5rem;
            font-size:5rem;
            text-align:center;

        }

        .bannerContacto__cont p{
            margin:0;
            padding:0;
            padding-bottom: 5rem;
            font-size:2rem;
            text-align:center;

        }
    }
}
