
    // ------------ CSS CONTACTO ----------------- //

.ContenedorFormulario{
    width: 600px;
    border-radius: 1rem;
    padding: 2rem;
    background: rgba(51, 51, 51, 0.750);
    box-shadow:0 8px 32px 0 rgba(124, 125, 131, 0.37);
    border-top:2px solid rgba(255, 255, 255, 0.15);
    border-left:2px solid rgba(255, 255, 255, 0.15);


    .ContenedorFormulario__Titulo{

        margin-bottom: 5rem;
        padding:0.2rem 1rem 0.2rem 1rem;
        background:#618DE7;
        color: white;
        border-radius: 0.5rem;
        font-size: $fuentesubtitulo;
        text-align: center;

    }   

    .ContenedorFormulario__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    font-size: $fuentestexto;
    

        .estiloForma{
            border:none;
            outline:none;
            background: transparent;
            border-bottom: 1px solid gray;
            font-size:$fuentestexto;
            color:#fff;

        }

        input{

        height: 3rem;
            
        } 

        .textarea{
            grid-column: 1 / 3;
            width: 80%;
            min-height: 50px;
            max-height: 100px;
            min-width: 50%;
            max-width: 100%;
            font-size: $fuentestexto;
        }

        .buttonForm{

            margin-top: 5rem;
            grid-column: 1 / 3;
            width: 100%;
            background:white;
            color:#618DE7;
            border: none;
            border-radius: 0.5rem;
            text-align: center;
            font-size: $fuentestexto;
            cursor: pointer;
            letter-spacing: 0.2em;
            
        }

        .buttonForm:hover{
            background-color: #618DE7;
            color: white;
            transition: 0.5s;
        }
    }

    // ------------ MEDIA QUERIES ----------------- //

    @media (max-width:620px){

            width: auto;
            

        .ContenedorFormulario__form{

            grid-template-columns: 1fr;
            gap: 2rem;

            .textarea{
                grid-column: 1 / 2;
                width: 80%;
                min-height: 50px;
                max-height: 100px;
                min-width: 50%;
                max-width: 100%;
            }
    
            .buttonForm{
    
                grid-column: 1 / 2;
                width: 100%;
                border: none;
                border-radius: 0.5rem;
                text-align: center;
                font-size: $fuentestexto;
    
            }

        }

    }

}