.footer{
    background: $colorPrimario;
    color:white;
    box-shadow:0 8px 32px 0 rgba(124, 125, 131, 0.37);
    border-top:2px solid rgba(255, 255, 255, 0.15);
    
    padding: 2rem 0;
    font-size: $fuentestexto;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items:center; 
    flex-wrap:wrap;


    .footer__Contenedor{
        width: 16rem;
        display: flex;
        justify-content:space-between;


        .footer__img{

            font-size: 3rem;
            color:white;
            padding: .5rem;

        }

    
    }

}

@media (max-width:576px){

    .footer h4{
        margin: .5rem;
    }

    div p{
        margin: .5rem;
    }

}