/*------------------------ HOJA DE ESTILO  ------------------------ */

/* -- ESTILOS DE SITIO -- */

/* -- FUENTES -- */
/* font-family: 'Roboto', sans-serif; */ /* font-family: 'Lato', sans-serif; */

/* -- PALETA COLORES -- */

/* #333 - #004D5E - #52843E - #618DE7 - #80E4DC - #4A4AED - #f2f2f2 */

//Variables //

$colorPrimario : #333;
$colorSecundario: #004D5E;
$colorTerciario: #52843E;

$fuentesTitulo: 'Lato', sans-serif;
$fuentesTexto: 'Roboto', sans-serif;





*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html{
    background-color:white;
    color:#333;
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
    
}

body{
    color:#333;
    font-size:1.6rem;
    
}

h1, h2, h3, h4, h5 {
    font-family: $fuentesTitulo;
}


.titulosPrincipales{
    text-align:center;
    padding-bottom:1rem;
    text-decoration:none;
    margin-top: 2rem;
    padding: 2rem;

    /* #333 - #004D5E - #52843E - #618DE7 - #80E4DC - #4A4AED - #f2f2f2 */
}