
.main_iot{
       
    background-color: $colorPrimario;
    display: flex;
    margin:5rem auto 5rem auto;
    align-items: center;
    padding: 0 5rem 0 5rem;
    border:none;
    box-shadow: 2px 2px 6px 0px rgba(196, 195, 195, 0.164);
    text-align: left;
    letter-spacing: 0.1rem;
    flex-direction: column;



    .iot__titulo {
        color: white;
        font-size: $fuentesubtitulo;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 2rem auto 2rem auto;
    }

    .iot__article{

        background-color: $colorPrimario;
        text-align: center;


        .iot__texto{
            color: white;
            font-size:$fuentestexto;
            line-height: 1.5;
        }

    }
}





