
// SERVICIOS PAGINA INICIO //

.ContServ
{
    margin-bottom: 5rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row;
    gap: 3rem;
    place-items: center center;





    .ContServ__Tarjetas
    {
        background:$colorPrimario;
        color: white;
        border:none;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.164);
        border-radius: 2rem;
        text-align: center;
        width: 250px;
        height: 100%;


    

        .Tarjetas__Img {

            width: 100%;
            height: 30%;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
        }

        .Tarjetas__Texto{

            padding:2rem;


            h3{

                color:#80E4DC;
                margin-bottom: 1rem;

            }

            p{
                font-size: $fuentestexto;
            }
            
        }

        &:hover {

            transform: scale(1.1,1.1);

        }

    }

}


// SERVICIOS - PAGINA SERVICIOS //

    .mainServicios {


        .ServSeguridad_Img_1 {
                height: 45rem;
                width: 100%;
                background-image: url("../imagenes/family_safe.jpg");
                background-attachment: fixed;
                background-size:cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .servicios_cont_texto{
                    text-align: center;
                }

                .servicios_cont{
                    background-color: rgba(255, 255, 255, 0.829);
                    padding: 3rem;
                    width: 40rem;
                    letter-spacing: 0.1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 2rem;
                    font-size: $fuentestexto;
                    

                    

                    .serv_cont_btn{

                        width: auto;
                        margin:2rem;
                        padding: 1rem 2rem;
                        text-align: center;
                        background-color: $colorPrimario;
                        color:white;
                        text-decoration: none;                 
    
                    }
    
        
        
                    
                }

        }
        
            .ServSeguridad_Img_2 {
                height: 45rem;
                width: 100%;
                background-image: url("../imagenes/multimedia.jpg");
                background-attachment: fixed;
                background-size:cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;


                .servicios_cont{
                    background-color: rgba(255, 255, 255, 0.829);
                    padding: 3rem;
                    width: 40rem;
                    letter-spacing: 0.1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 2rem;
                    font-size: $fuentestexto;
                    

                    

                    .serv_cont_btn{

                        width: auto;
                        margin:2rem;
                        padding: 1rem 2rem;
                        text-align: center;
                        background-color: $colorPrimario;
                        color:white;
                        text-decoration: none;                 

                    }

        
        
                    
                }

            }

        .ServSeguridad_Img_3{
            height: 45rem;
            width: 100%;
            background-image: url("../imagenes/imagen_mantenimiento_2.jpg");
            background-attachment: fixed;
            background-size:cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;


            .servicios_cont{
                background-color: rgba(255, 255, 255, 0.829);
                padding: 3rem;
                width: 40rem;
                letter-spacing: 0.1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 2rem;
                font-size: $fuentestexto;
                

                

                .serv_cont_btn{

                    width: auto;
                    margin:2rem;
                    padding: 1rem 2rem;
                    text-align: center;
                    background-color: $colorPrimario;
                    color:white;
                    text-decoration: none;                 

                }
                
            }
        }
    }


     @media (max-width:768px){

        .mainServicios {

            .ServSeguridad_Img_1 {

                background-image: url("../imagenes/family_safe_mobile.jpg");
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;


                .servicios_cont{
                    background-color: rgba(255, 255, 255, 0.70);
                    padding: 2rem;
                    letter-spacing: 0.1rem;
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: $fuentestexto;

                    .servicios_cont_texto{
                        text-align: center;
                    }

                    .serv_cont_btn{

                        width: auto;
                        margin:2rem auto;
                        padding: 1rem 2rem;
                        text-align: center;
                        background-color: $colorPrimario;
                        color:white;
                        text-decoration: none;                  
    
                    }
                    
                }

            }
        }
    

        .mainServicios {

            .ServSeguridad_Img_2 {
                
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;


                .servicios_cont{
                    background-color: rgba(255, 255, 255, 0.70);
                    padding: 2rem;
                    letter-spacing: 0.1rem;
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: $fuentestexto;

                    .servicios_cont_texto{
                        text-align: center;
                    }

                    .serv_cont_btn{

                        width: auto;
                        margin:2rem auto;
                        padding: 1rem 2rem;
                        text-align: center;
                        background-color: $colorPrimario;
                        color:white;
                        text-decoration: none;                  

                    }
                    
                }

            }
        }

            .mainServicios {

                .ServSeguridad_Img_3
                {
                    
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;


                    .servicios_cont{
                        background-color: rgba(255, 255, 255, 0.70);
                        padding: 2rem;
                        letter-spacing: 0.1rem;
                        width: 100%;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: $fuentestexto;

                        .servicios_cont_texto{
                            text-align: center;
                        }

                        .serv_cont_btn{

                            width: auto;
                            margin:2rem auto;
                            padding: 1rem 2rem;
                            text-align: center;
                            background-color: $colorPrimario;
                            color:white;
                            text-decoration: none;                 

                        }
                        
                    }

                }
            }

    }       

    