
// SERVICIOS PAGINA INICIO //

.ContServ
{
    margin-bottom: 5rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row;
    gap: 3rem;
    place-items: center center;

    a{
        text-decoration: none;
    }





    .ContServ__Tarjetas
    {
        background:$colorPrimario;
        color: white;
        border:none;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.164);
        border-radius: 2rem;
        text-align: center;
        width: 250px;
        height: 42rem;


    

        .Tarjetas__Img {

            width: 100%;
            height: 30%;
            object-fit: cover;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
        }

        .Tarjetas__Texto{

            padding:2rem;


            h3{

                color:#80E4DC;
                margin-bottom: 1rem;

            }

            p{
                font-size: $fuentestexto;
            }
            
        }

        &:hover {

            transform: scale(1.1,1.1);

        }

    }

}


@media (max-width:576px){

    .ContServ{

        .ContServ__Tarjetas{

            .Tarjetas__Img{
                height: 40%;
            }

        }

    }   

}


// SERVICIOS - PAGINA SERVICIOS //

    .mainServicios {


        .ServSeguridad_Img_1 {
                height: 45rem;
                width: 100%;
                background-image: url("../imagenes/family_safe.jpg");
                background-size:cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                

                .servicios_cont_texto{
                    text-align: center;
                }

                .servicios_cont{
                    background-color: rgba(255, 255, 255, 0.829);
                    padding: 3rem;
                    width: 40rem;
                    letter-spacing: 0.1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 2rem;
                    font-size: $fuentestexto;
                    

                    

                    .serv_cont_btn{

                        width: auto;
                        margin:2rem;
                        padding: 1rem 2rem;
                        text-align: center;
                        background-color: $colorPrimario;
                        color:white;
                        text-decoration: none;                 
    
                    }
    
        
        
                    
                }

        }
        
            .ServSeguridad_Img_2 {
                height: 45rem;
                width: 100%;
                background-image: url("../imagenes/multimedia.jpg");
                background-size:cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;


                .servicios_cont{
                    background-color: rgba(255, 255, 255, 0.829);
                    padding: 3rem;
                    width: 40rem;
                    letter-spacing: 0.1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 2rem;
                    font-size: $fuentestexto;
                    

                    

                    .serv_cont_btn{

                        width: auto;
                        margin:2rem;
                        padding: 1rem 2rem;
                        text-align: center;
                        background-color: $colorPrimario;
                        color:white;
                        text-decoration: none;                 

                    }

        
        
                    
                }

            }

        .ServSeguridad_Img_3{
            height: 45rem;
            width: 100%;
            background-image: url("../imagenes/imagen_mantenimiento_2.jpg");
            background-size:cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;


            .servicios_cont{
                background-color: rgba(255, 255, 255, 0.829);
                padding: 3rem;
                width: 40rem;
                letter-spacing: 0.1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 2rem;
                font-size: $fuentestexto;
                

                

                .serv_cont_btn{

                    width: auto;
                    margin:2rem;
                    padding: 1rem 2rem;
                    text-align: center;
                    background-color: $colorPrimario;
                    color:white;
                    text-decoration: none;                 

                }
                
            }
        }

        .main{

            .main__iconos{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                .iconos__serv{
                    margin: 0.2rem;
                }

            }
        }
    }



     @media (max-width:768px){

        .mainServicios {

            .ServSeguridad_Img_1 {

                background-image: url("../imagenes/family_safe_mobile.jpg");
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;


                .servicios_cont{
                    background-color: rgba(255, 255, 255, 0.70);
                    padding: 2rem;
                    letter-spacing: 0.1rem;
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: $fuentestexto;

                    .servicios_cont_texto{
                        text-align: center;
                    }

                    .serv_cont_btn{

                        width: auto;
                        margin:2rem auto;
                        padding: 1rem 2rem;
                        text-align: center;
                        background-color: $colorPrimario;
                        color:white;
                        text-decoration: none;                  
    
                    }
                    
                }

            }
        }
    

        .mainServicios {

            .ServSeguridad_Img_2 {
                
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;


                .servicios_cont{
                    background-color: rgba(255, 255, 255, 0.70);
                    padding: 2rem;
                    letter-spacing: 0.1rem;
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: $fuentestexto;

                    .servicios_cont_texto{
                        text-align: center;
                    }

                    .serv_cont_btn{

                        width: auto;
                        margin:2rem auto;
                        padding: 1rem 2rem;
                        text-align: center;
                        background-color: $colorPrimario;
                        color:white;
                        text-decoration: none;                  

                    }
                    
                }

            }
        }

            .mainServicios {

                .ServSeguridad_Img_3
                {
                    
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;


                    .servicios_cont{
                        background-color: rgba(255, 255, 255, 0.70);
                        padding: 2rem;
                        letter-spacing: 0.1rem;
                        width: 100%;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: $fuentestexto;

                        .servicios_cont_texto{
                            text-align: center;
                        }

                        .serv_cont_btn{

                            width: auto;
                            margin:2rem auto;
                            padding: 1rem 2rem;
                            text-align: center;
                            background-color: $colorPrimario;
                            color:white;
                            text-decoration: none;                 

                        }
                        
                    }

                }
            }

    }       

    @media (max-width:576px){

        .main{

            .main__iconos{

                .iconos__serv{
                    height: 45px;
                    width: 45px;
                }
            }
        }

    }


    // FORMULARIO DE CONTACTO - SERVICIOS //


    .Formulario__Servicios{

        display: flex;
        width: 100%;
        justify-content: center;
    
    
    
        .ContenedorFormulario__form{
            
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        
    
            .estiloForma{
                width: 100%;
                border:none;
                outline:none;
                background: transparent;
                border-bottom: 1px solid gray;
                font-size: $fuentestexto;
                color:#fff;
    
            }


    
            input{
    
            height: 3.5rem;
                
            } 
    
            .buttonForm{
                
                padding: 1rem;
                outline: none;
                background:white;
                color:#333;
                border: none;
                border-radius: 0.2rem;
                width: 100%;
                font-size: $fuentestexto;
                font-weight:bolder;
                
            }

            .buttonForm:hover,
            .buttonForm:focus{

                    background:#618DE7;
                    transition:background-color 0.3s ease-out;

            }
                
                
        }
        

    }

    @media (min-width:420px){


        .main{
            .Formulario__Servicios{

                .ContenedorFormulario__form{

                    grid-template-columns: 1fr 1fr;
                    max-width: 100%;
                    border-radius: 1rem;
                    padding: 3rem;
                    color: #333;
                    background: rgba(255, 255, 255, 0.918);
                    box-shadow:0 8px 32px 0 rgba(124, 125, 131, 0.35);
                    border-top:2px solid rgba(255, 255, 255, 0.05);
                    border-left:2px solid rgba(255, 255, 255, 0.05);

                    .estiloForma{

                        color:#333;
            
                    }

                    .buttonForm{
                
                        background:#333;
                        color:white;

                        
                    }

                    .buttonForm:hover,
                    .buttonForm:focus{

                    background: #618DE7;
                    color:#333;
                    transition:background-color 0.3s ease-out;

            }
                    

                    .block{

                        grid-column:1/3;

                    }
                    
                }
            }
        }
    }
    